body{
    margin: 0;
}

h3, p{
    margin: 0;
}

#root{
    background-color: rgb(24, 24, 24);
}

.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 550px;
    background-color: rgb(255, 255, 255);
    font-family: Poppins;
}