.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 245px;
    font-family: inter;
    background-color: #1A1B21;
    color: white;
    padding: 0 36px;
}

#root{
    background-color: #23252C;
}

h3, p{
    margin: 0;
}

body{
    margin: 0;
}