.section{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 27px;
    
    &__title{
        font-weight: 700;
    }
    &__txt{
        font-weight: 400;
        font-size: 12px;
    }
    
    &.bottom{
        margin-bottom: 24px;
    }
}